@{
    ViewBag.Title = "Summary";
}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<meta name="google-signin-client_id" content="735833674115-8utnfgiuqhpsnf4gt5mtp06okdkr324g.apps.googleusercontent.com">
<script type="text/javascript" src="http://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
<script type="text/javascript" src="http://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.fint.js?cacheBust=56"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<script>
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    var userid = getParameterByName('userid');
    

</script>
<style>
    body {
        background-image: url("/Content/Image/pattern-bg.png");
    }
</style>

<body>
    <div class="container" align="center">

        <div id="daterange">
            <table class="table">
                <tr>
                    <td align="right"><span>From: </span><input type="date" name="startrange" id="startrange" /></td>
                    <td align="left">To: <input type="date" name="startrange" id="endrange" /></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><button id="refresh" class="btn btn-default">Refresh</button></td>
                </tr>
            </table>
        </div>

        <div>
            <h3>Body Half</h3>
            <table id="bodyhalftable">
                <tr id="upperbodyrow">
                    <td>UpperBody: </td>
                    <td id="upperbodyvalue"></td>
                </tr>
                <tr id="lowerbodyrow">
                    <td>LowerBody: </td>
                    <td id="lowerbodyvalue"></td>
                </tr>
            </table>
        </div>

        <br />

        <h3>Upper Body</h3>
        <div id="upperbody">
            <table id="upperbodytable">
                <tr></tr>
            </table>
        </div>

        <br />

        <h3>Lower Body</h3>
        <div id="lowerbody">
            <table id="lowerbodytable">
                <tr></tr>
            </table>
        </div>

        <div id="chart-container"></div>
    </div>
</body>
<script>
    $(document).ready(function () {
        
            $.ajax({
                url: "/Home/SummaryInformation",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                type: "POST",
                data: JSON.stringify({ userid: userid  }),
                success: function (json) {
                    console.log(json);

                    let bodyhalfpercentage;
                    bodyhalfpercentage = json.piechart[0].value + json.piechart[1].value;

                    $("#upperbodyvalue").text((json.piechart[0].value / bodyhalfpercentage).toFixed(2) * 100 + "%  (" + json.piechart[0].value + ")");
                    $("#lowerbodyvalue").text((json.piechart[1].value / bodyhalfpercentage).toFixed(2) * 100 + "%  (" + json.piechart[1].value + ")");

                    if (json.piechart[0].label == "Upper") {
                        $("#upperbodyvalue").text((json.piechart[0].value / bodyhalfpercentage).toFixed(2) * 100 + "%  (" + json.piechart[0].value + ")");
                    }
                    else {
                        $("#upperbodyvalue").text((json.piechart[1].value / bodyhalfpercentage).toFixed(2) * 100 + "%  (" + json.piechart[1].value + ")");
                    }

                    if (json.piechart[0].label == "Lower") {
                        $("#lowerbodyvalue").text((json.piechart[0].value / bodyhalfpercentage).toFixed(2) * 100 + "%  (" + json.piechart[0].value + ")");
                    }
                    else {
                        $("#lowerbodyvalue").text((json.piechart[1].value / bodyhalfpercentage).toFixed(2) * 100 + "%  (" + json.piechart[1].value + ")");
                    }

                    var lowerbodypercentage = 0;
                    for (x = 0; x < json.lowerbodycount.length; x++)
                    {
                        lowerbodypercentage += json.lowerbodycount[x].value; 
                    }

                    for (x = 0; x < json.lowerbodycount.length; x++)
                    {
                        $("#lowerbodytable tr:last").after("<tr><td>" + json.lowerbodylabel[x].label + ": </td><td>" + (json.lowerbodycount[x].value/lowerbodypercentage).toFixed(2) * 100 + "%</td><td>(" + json.lowerbodycount[x].value + ")</td></tr>");
                    }

                    var upperbodypercentage = 0;
                    for (x = 0; x < json.upperbodycount.length; x++)
                    {
                        upperbodypercentage += json.upperbodycount[x].value;
                    }
                    for (x = 0; x < json.upperbodycount.length; x++)
                    {
                        $("#upperbodytable tr:last").after("<tr><td>" + json.upperbodylabel[x].label + ": </td><td>" + (json.upperbodycount[x].value / upperbodypercentage).toFixed(2) * 100 + "%</td><td>(" + json.upperbodycount[x].value + ")</td></tr>");
                    }
                },

                error: function () {
                    console.log("ERROR");
                }
            });

        $("#refresh").click(function () {
            //alert($("#startrange").val());
            $("#lowerbodytable tr").remove();
            $("#lowerbodytable").append("<tr></tr>");

            $("#upperbodytable tr").remove();
            $("#upperbodytable").append("<tr></tr>");

            $.ajax({
                url: "/Home/SummaryInformationFilter",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                type: "POST",
                data: JSON.stringify({'userid':userid , 'startrange': $("#startrange").val(), 'endrange': $("#endrange").val()}),
                success: function (json) {
                    console.log(json);

                    let bodyhalfpercentage;
                    bodyhalfpercentage = json.piechart[0].value + json.piechart[1].value;

                    if (json.piechart[0].label == "Upper")
                    {
                        $("#upperbodyvalue").text((json.piechart[0].value / bodyhalfpercentage).toFixed(2) * 100 + "%  (" + json.piechart[0].value + ")");
                    }
                    else
                    {
                        $("#upperbodyvalue").text((json.piechart[1].value / bodyhalfpercentage).toFixed(2) * 100 + "%  (" + json.piechart[1].value + ")");
                    }

                    if (json.piechart[0].label == "Lower") {
                        $("#lowerbodyvalue").text((json.piechart[0].value / bodyhalfpercentage).toFixed(2) * 100 + "%  (" + json.piechart[0].value + ")");
                    }
                    else {
                        $("#lowerbodyvalue").text((json.piechart[1].value / bodyhalfpercentage).toFixed(2) * 100 + "%  (" + json.piechart[1].value + ")");
                    }

                    

                    var lowerbodypercentage = 0;
                    for (x = 0; x < json.lowerbodycount.length; x++) {
                        lowerbodypercentage += json.lowerbodycount[x].value;
                    }

                    for (x = 0; x < json.lowerbodycount.length; x++) {
                        $("#lowerbodytable tr:last").after("<tr><td>" + json.lowerbodylabel[x].label + ": </td><td>" + (json.lowerbodycount[x].value / lowerbodypercentage).toFixed(2) * 100 + "%</td><td>(" + json.lowerbodycount[x].value + ")</td></tr>");
                    }

                    var upperbodypercentage = 0;
                    for (x = 0; x < json.upperbodycount.length; x++) {
                        upperbodypercentage += json.upperbodycount[x].value;
                    }
                    for (x = 0; x < json.upperbodycount.length; x++) {
                        $("#upperbodytable tr:last").after("<tr><td>" + json.upperbodylabel[x].label + ": </td><td>" + (json.upperbodycount[x].value / upperbodypercentage).toFixed(2) * 100 + "%</td><td>(" + json.upperbodycount[x].value + ")</td></tr>");
                    }
                },

                error: function () {
                    console.log("ERROR");
                }
            });

        });
    });
</script>
